<!-- created by Dani Luensman, Donna Quach, & Victor Ortiz  11/21/2019  Team Project -->
@{
    ViewData["Title"] = "Contact";
}
<h2 style="font-size:1.5vw">@ViewData["Title"]</h2>
<h3 style="font-size:1.5vw">@ViewData["Message"]</h3>

<div class="makebigger" style="font-size: 1.5vw;">
    <!--Image is from LifeInsideUK-->
    <!--https://www.lifeinsideuk.com/wp-content/uploads/2018/10/Contact-Us-514727914-1920x890-Oct-20.jpg-->
    <img src="~/images/ContactUs.jpg" width="80%">
    <address>
        2233 Action Way<br />
        Olympia, WA 98502<br />
        <abbr title="Phone">P:</abbr>
        360-943-5555
    </address>

    <address>
        <strong>Support:</strong> <a href="mailto:customer_support@danicarsupply.com">customer_support@danicarsupply.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:marketing_dept@danicarsupply.com">marketing_dept@danicarsupply.com</a>
    </address>
</div>
