<!-- created by Dani Luensman, Donna Quach, & Victor Ortiz  11/21/2019  Team Project -->
@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid">
    <div class="jumbotron">
        <div class="headline">
            <h1>Dani's Car Supply</h1>
            <p class="sloganOne">If you need 'em, we got 'em!</p>
            <h2>Get your parts to keep your vehicle running</h2>
            <p class="sloganTwo">We will not be undersold. And FREE shipping too!</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <h2>Engine Parts</h2>
            <img src="~/images/engine.jpg" class="img-responsive" alt="Picture of an engine" />
            <ul>
                <li>Click to order - <a href="https://www.carid.com/air-filters.html?filter=1&departments%5B%5D=Parts&departments%5B%5D=Performance&sub-ptypes%5B%5D=Replacement%20Air%20Filters">Air Filters</a></li>
                <li>Click to order - <a href="https://www.carid.com/spark-plugs.html?filter=1&departments%5B%5D=Parts&departments%5B%5D=Performance&sub-ptypes%5B%5D=Replacement%20Spark%20Plugs">Spark Plugs</a></li>
                <li>Click to order - <a href="https://www.carid.com/oil-filters.html?filter=1&departments%5B%5D=Parts&departments%5B%5D=Performance&sub-ptypes%5B%5D=Engine%20Oil%20Filters">Oil Filters</a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <h2>Muffler Parts</h2>
            <img src="~/images/exhaust.jpg" class="img-responsive" alt="Picture of a muffler" />
            <ul>
                <li>Click to order - <a href="https://www.carid.com/performance-mufflers.html?filter=1&departments%5B%5D=Performance&departments%5B%5D=Parts&sub-ptypes%5B%5D=Performance%20Exhaust%20Mufflers">Mufflers</a></li>
                <li>Click to order - <a href="https://www.carid.com/performance-exhaust-muffler-delete-pipes/">Muffler Pipes</a></li>
                <li>Click to order - <a href="https://www.carid.com/catalytic-converters.html?filter=1&departments%5B%5D=Parts&departments%5B%5D=Performance&sub-ptypes%5B%5D=Catalytic%20Converters">Catalytic Converters</a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <h2>Suspension Parts</h2>
            <img src="~/images/suspension.jpg" class="img-responsive" alt="Picture of a strut" />
            <ul>
                <li>Click to order - <a href="https://www.carid.com/shocks-struts.html?filter=1&departments%5B%5D=Parts&departments%5B%5D=Performance&sub-ptypes%5B%5D=Replacement%20Shocks%20%26%20Struts">Shocks &amp; Struts</a></li>
                <li>Click to order - <a href="https://www.carid.com/performance-coil-springs.html?filter=1&departments%5B%5D=Performance&departments%5B%5D=Parts&sub-ptypes%5B%5D=Performance%20Suspension%20Coil%20Springs">Coil Springs</a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <h2>Accessories</h2>
            <img src="~/images/lighting.jpg" class="img-responsive" alt="Picture of a headlight bulb" />
            <ul>
                <li>Click to order - <a href="https://www.carid.com/car-stereos.html">Stereos</a></li>
                <li>Click to order - <a href="https://www.carid.com/search/dashcam/code-c4cfe10be06beecf12a5b1fd28c44795/queryId-3e6c6cbc7d61d4ee64f1de4872968ceb/category-159/?redirect=1">Dashcams</a></li>
                <li>Click to order - <a href="https://www.carid.com/spoilers.html">Spoilers</a></li>
            </ul>
        </div>
    </div>
</div>