<!-- created by Dani Luensman, Donna Quach, & Victor Ortiz  11/21/2019  Team Project -->
@model finalGroupProject.Models.CarSupply

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Account Information</h4>
<hr />
<div class="row">
    <div align="center">
        <form asp-action="Create" id="forms">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-6">
                <label asp-for="fName" class="control-label"></label>
                <input asp-for="fName" class="form-control" />
                <span asp-validation-for="fName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="lName" class="control-label"></label>
                <input asp-for="lName" class="form-control" />
                <span asp-validation-for="lName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="address" class="control-label"></label>
                <input asp-for="address" class="form-control" />
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="city" class="control-label"></label>
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="state" class="control-label"></label>
                <input asp-for="state" class="form-control" />
                <span asp-validation-for="state" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="zip" class="control-label"></label>
                <input asp-for="zip" class="form-control" />
                <span asp-validation-for="zip" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="phone" class="control-label"></label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
